<div class="container">
  <main class="form-signin">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <h1>Please Login</h1>

      <div class="formWrapper">
        <div class="formInput">
          <label>Email address</label>
          <input formControlName="email" type="email" class="form-control" placeholder="name@example.com" required>
          <div *ngIf="form.controls.email.invalid && form.controls.email.touched">
            <small *ngIf="form.controls.email.invalid" class="errorMessage">Invalid field</small>
          </div>
        </div>

        <div class="formInput">
          <label>Password</label>
          <input formControlName="password" type="password" class="form-control" placeholder="Password" required>
          <div *ngIf="form.controls.password.invalid && form.controls.password.touched">
            <small *ngIf="form.controls.password.invalid" class="errorMessage">Invalid field</small>
          </div>
        </div>
      </div>

      <button type="submit" [disabled]="(loading | async)">
        <mat-spinner *ngIf="loading | async" color="accent" diameter="20"></mat-spinner>
        <span *ngIf="!(loading | async)">Login</span>
      </button>
    </form>

    <div class="formFooter">
      <p>Don`t have an account? <span (click)="handleNavigateRegister()">Register here</span></p>
    </div>
  </main>
</div>